button {
  cursor: pointer;
  transition: all ease 0.3s;
}
.button {
  background-color: $yellow-crown;
  border: none;
  border-radius: 6px;
  padding: 14px 32px;
  color: $velvet-black;
  font-size: 22px;
  line-height: 28px;
  font-weight: 300;
  &:hover {
    background-color: $golden-crown;
    color: $white;
  }
}

.secondary-btn {
  background-color: #fff;
  border: 1px solid $velvet-black;
  &:hover {
    background-color: $velvet-black;
    color: $white;
  }
}
