 // color variables:
$default-blue: #61ABBA;
$blue-blues: #A3CBD3;
$blues-secondary:#398290;
$velvet-black: #272727;
$white: #FAFAFA;
$yellow-crown: #FFE695;
$golden-crown :#D3B973;
$golden-crown__secondary: #AE9245;
$light-yellow: #FFF5D5;
$gray: #B8B8B8;

