// color variables:
$default-blue: #61abba;
$blue-blues: #a3cbd3;
$specific-blue: #d7e6e9;
$specific-blue__secondary: #73A6B0;
$blues-secondary: #398290;
$velvet-black: #272727;
$white: #fafafa;
$yellow-crown: #ffe695;
$golden-crown: #d3b973;
$golden-crown__secondary: #ae9245;
$light-yellow: #fff5d5;
$gray: #b8b8b8;
