#forWho-Naks {
  & .section-cols {
    column-gap: 22px;
    @media (max-width: $laptop) {
      column-gap: 20px;
    }
    @media (max-width: $tablet) {
      row-gap: 30px;
      flex-direction: column;
    }
    @media (max-width: $L-mobile) {
      row-gap: 20px;
    }
  }
  & .section-cols__item {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
    border-radius: 12px;
    padding: 30px 42px;
    display: flex;
    column-gap: 60px;
    align-items: center;
    flex-basis: 50%;
    @media (max-width: $laptop) {
      padding: 30px 9px;
      column-gap: 32px;
    }
    @media (max-width: $tablet) {
      padding: 30px;
      column-gap: 30px;
    }
    @media (max-width: $L-mobile) {
      padding: 16px;
      column-gap: 20px;
    }
    @media (max-width: $mobile) {
      padding: 13px 10px 13px 13px;
      column-gap: 13px;
    }
    & svg {
      height: 90px;
      max-width: 90px;
      fill: $blues-secondary;
      stroke: $blues-secondary;
      @media (max-width: $tablet) {
        max-width: 70px;
        height: 70px;
      }
      @media (max-width: $L-mobile) {
        max-width: 40px;
        height: 40px;
      }
    }
    &-description h4 {
      margin-bottom: 16px;
      @media (max-width: $L-mobile) {
        margin-bottom: 12px;
      }
      @media (max-width: $mobile) {
        margin-bottom: 6px;
      }
    }
  }
  & .section-description {
    margin-top: 52px;
    max-width: 849px;
    font-weight: 300;
    @media (max-width: $tablet) {
      margin-top: 50px;
    }
    @media (max-width: $L-mobile) {
      margin-top: 32px;
    }
    @media (max-width: $L-mobile) {
      margin-top: 30px;
    }
  }
}

#adv-Naks {
  & .section-wrapper {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
    padding: 93px;
    position: relative;
    overflow: hidden;
    @media (max-width: $laptop) {
      padding: 43px;
    }
    @media (max-width: $tablet) {
      padding: 30px;
    }
    @media (max-width: $L-mobile) {
      padding: 30px 18px;
    }
    @media (max-width: $mobile) {
      padding: 10px;
    }
    &::before {
      position: absolute;
      left: 0;
      content: "";
      height: 100%;
      width: 100vw;
      background-image: url("../img/icons/icons.svg#bg_vector");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: rotate(-15deg);
      opacity: 0.1;
      // @media (max-width: $tablet) {
      //   background-size: contain;
      // }
    }
  }
  & .section-title {
    max-width: 607px;
  }
  & .advantages__items {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    justify-content: space-between;
    height: 100%;
    @media (max-width: $tablet) {
      row-gap: 20px;
    }
    & li {
      background-color: #fafafa;
      border-radius: 8px;
      display: flex;
      align-items: center;
      padding: 20px;
      column-gap: 30px;
      @media (max-width: $L-mobile) {
        column-gap: 14px;
      }
      & svg {
        fill: $yellow-crown;
        max-width: 52px;
        height: 52px;
        @media (max-width: $tablet) {
          align-self: flex-start;
        }
        @media (max-width: $L-mobile) {
          max-width: 36px;
          height: 36px;
        }
        @media (max-width: $mobile) {
          max-width: 30px;
          height: 30px;
        }
      }
      & p {
        font-size: 22px;
        line-height: 28px;
      }
    }
  }
}

#sert-naks__courses {
  & .section-cols {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 55px;
    row-gap: 10px;
    grid-template-areas:
      "courses1 courses3"
      "courses2 courses4"
      "courses5 courses5";
    counter-reset: my-custom;
    position: relative;
    @media (max-width: $laptop) {
      row-gap: 20px;
    }
    @media (max-width: $tablet) {
      grid-template-areas:
        "courses1"
        "courses2"
        "courses3"
        "courses4"
        "courses5";
      grid-template-columns: none;
    }
    @media (max-width: $L-mobile) {
      row-gap: 0;
    }

    &__item:nth-child(-n + 5) {
      padding: 25px 22px 85px 68px;
      counter-increment: my-custom;
      position: relative;
      @media (max-width: $laptop) {
        padding: 25px 22px 55px 68px;
      }
      @media (max-width: $tablet) {
        padding: 25px 22px 25px 68px;
      }
      @media (max-width: $L-mobile) {
        padding: 25px 16px 25px 60px;
      }
      &::before {
        content: counter(my-custom) "";
        position: absolute;
        left: 15px;
        font-size: 54px;
        line-height: 64px;
        font-weight: 400;
        color: $yellow-crown;
        @media (max-width: $tablet) {
          font-size: 48px;
          line-height: 54px;
          left: 10px;
        }
      }
    }
    &__item:first-child {
      grid-area: courses1;
    }
    &__item:nth-child(2) {
      grid-area: courses2;
    }
    &__item:nth-child(3) {
      grid-area: courses3;
    }
    &__item:nth-child(4) {
      grid-area: courses4;
    }
    &__item:last-child {
      grid-area: courses5;
      background-color: $blue-blues;
      border-radius: 8px;
      padding: 30px;
      @media (max-width: $L-mobile) {
        padding: 30px 16px;
      }
      & p {
        font-size: 24px;
        line-height: 30px;
        @media (max-width: $tablet) {
          font-size: 22px;
          line-height: 28px;
        }
        @media (max-width: $L-mobile) {
          font-size: 18px;
          line-height: 24px;
        }
      }
      &::before {
        content: "";
      }
    }
  }
}
