.section-forWho {
  & .section-wrapper__card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
    border-radius: 12px;
    padding: 52px;
    & .section-cols {
      gap: 78px;
      align-items: center;
    }
    @media (max-width: $laptop) {
      padding: 44px;
      & .section-cols {
        gap: 44px;
      }
    }
    @media (max-width: $tablet) {
      padding: 22px;
    }
    @media (max-width: $L-mobile) {
      & .section-cols {
        align-items: flex-start;
        gap: 16px;
      }
    }
    @media (max-width: $L-mobile) {
      padding: 14px;
    }
  }
  & .section-wrapper__card-icon {
    background-color: $blue-blues;
    border-radius: 8px;
    padding: 15px;
    & svg {
      width: 90px;
      height: 90px;
      fill: $white;
      stroke: $white;
    }
    @media (max-width: $tablet) {
      padding: 12.5px;
      & svg {
        width: 75px;
        height: 75px;
      }
    }
    @media (max-width: $tablet) {
      padding: 7.5px;
      & svg {
        width: 45px;
        height: 45px;
      }
    }
  }
  & .section-wrapper__card-description {
    & h4:first-child {
      margin-bottom: 20px;
      @media (max-width: $laptop) {
        margin-bottom: 16px;
      }
      @media (max-width: $tablet) {
        margin-bottom: 14px;
      }
    }
    & .whoSafe {
      color: $blues-secondary;
    }
  }
}

.section-learning {
  & .section-cols {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 52px;
    grid-template-areas:
      "lear1 lear2"
      "lear3 lear4"
      "lear5 lear5";
    @media (max-width: $laptop) {
      gap: 35px;
    }
    @media (max-width: $tablet) {
      grid-template-areas:
        "lear1"
        "lear2"
        "lear3"
        "lear4"
        "lear5";
      grid-template-columns: none;
      row-gap: 20px;
    }
    @media (max-width: $L-mobile) {
      row-gap: 10px;
    }

    &__items {
      display: grid;
      gap: 22px;
      grid-template-columns: 52px auto;
      align-items: center;
      padding: 14px 22px;
      background-color: #fff;
      border-radius: 8px;
      & svg {
        width: 54px;
        height: 54px;
        fill: $yellow-crown;
        stroke: $yellow-crown;
      }
    }
    &__items:nth-child(1) {
      grid-area: lear2;
    }
    &__items:nth-child(2) {
      grid-area: lear1;
    }
    &__items:nth-child(3) {
      grid-area: lear3;
    }
    &__items:nth-child(4) {
      grid-area: lear4;
    }
    &__items:nth-child(5) {
      grid-area: lear5;
    }
  }
}
