.section-hero {
  background: linear-gradient(90deg, #525252, rgba(82, 82, 82, 0)),
    url("@img/section-hero__bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-cols {
  display: flex;
  justify-content: space-between;
  &__left {
    flex-basis: 50%;
    &-content {
      margin: 130px 0;
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      align-items: flex-start;
    }
  }
  &__right {
    &-content {
      margin: 140px 0;
      display: flex;
      flex-direction: column;
      row-gap: 32px;
      & li {
        background-color: $white;
        border-radius: 6px;
        max-width: 330px;
        list-style: none;
        & a {
          display: flex;
          align-items: center;
          column-gap: 15px;
          font-size: 16px;
          line-height: 20px;
          color: $blues-secondary;
          padding: 14px 13px 14px 24px;
          & svg {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}

.section-services {
}

.section-cards {
  margin-top: 52px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  &__item {
    border-radius: 10px;
    border: 1px solid $blues-secondary;
    padding: 20px 20px 20px 10px;
    height: 240px;
    position: relative;
    & img {
      position: absolute;
      right: 20px;
      width: 120px;
      height: 120px;
    }
    &-description {
      padding-right: 20px;
      position: absolute;
      margin-top: -10px;
      bottom: 50%;

      top: 50%;
      height: fit-content;
      font-size: 22px;
      line-height: 28px;
      & span {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

.section-about__us {
  &-slogan {
    color: $blues-secondary;
    margin-top: 52px;
    margin-bottom: 62px;
  }
  & .section-cols__left-content,
  .section-cols__right-content {
    margin: 0;
  }
  & .section-cols__left-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 56px;
    &__item{
      border-left: 1px solid $velvet-black;
      padding-left: 14px;
      & span {
        color: $yellow-crown;
        font-size: 54px;
        line-height: 64px;
      }
    }
  }
}

.section-advantages{
  & .section-cols{
    display: grid;
    grid-template-columns: 326px 1fr 326px;
  }
}
