.container {
  max-width: $max-widthContainer + px;
  margin: 0 auto;
  position: relative;
  @media (max-width: $desktop) {
    max-width: 1200px;
  }
  @media (max-width: $laptop) {
    max-width: 1024px;
    padding: 0 12px;
  }
  @media (max-width: $tablet) {
    max-width: 768px;
    padding: 0 34px;
  }
  @media (max-width: $L-mobile) {
    max-width: 480px;
    padding: 0 20px;
  }
  @media (max-width: $mobile) {
    max-width: 360px;
    padding: 0 30px;
  }
}

.section {
  margin-bottom: 150px;
  &-title {
    margin-bottom: 52px;
    @media (max-width: $tablet) {
      margin-bottom: 52px;
    }
    @media (max-width: $L-mobile) {
      margin-bottom: 32px;
    }
    @media (max-width: $mobile) {
      margin-bottom: 30px;
    }
  }
  &-wrapper {
    &__title {
      max-width: 645px;
    }
  }
  &-cols {
    display: flex;
    justify-content: space-between;
    @media (max-width: $L-mobile) {
      flex-direction: column;
    }
    &__left {
      flex-basis: 50%;
      // &-content {
      //   margin: 130px 0;
      //   display: flex;
      //   flex-direction: column;
      //   row-gap: 40px;
      //   align-items: flex-start;
      // }
    }
    &__right {
      flex-basis: 50%;
      &-content {
        // margin: 140px 0;
        // display: flex;
        // flex-direction: column;
        // row-gap: 32px;
        // & li {
        //   background-color: $white;
        //   border-radius: 6px;
        //   max-width: 330px;
        //   list-style: none;
        //   & a {
        //     display: flex;
        //     align-items: center;
        //     column-gap: 15px;
        //     font-size: 16px;
        //     line-height: 20px;
        //     color: $blues-secondary;
        //     padding: 14px 13px 14px 24px;
        //     & svg {
        //       width: 40px;
        //       height: 40px;
        //       fill: $blues-secondary;
        //       stroke: $blues-secondary;
        //     }
        //   }
        // }
      }
    }
  }
  &-cards {
    // margin-top: 52px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    @media (max-width: $laptop) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 16px;
    }
    @media (max-width: $tablet) {
      gap: 11px;
    }
    @media (max-width: $L-mobile) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 14px;
    }
    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      row-gap: 12px;
    }
    &__item {
      border-radius: 10px;
      border: 1px solid $blues-secondary;
      padding: 20px 20px 20px 10px;
      height: 240px;
      position: relative;
      // @media (max-width: $tablet) {
      //   display: flex;
      //   align-items: end;
      // }

      @media (max-width: $L-mobile) {
        height: 176px;
        display: flex;
        align-items: end;
      }
      @media (max-width: $mobile) {
        height: 120px;
      }
      & svg {
        position: absolute;
        right: 20px;
        width: 120px;
        height: 120px;
        fill: $specific-blue;
        stroke: $specific-blue;
        @media (max-width: $tablet) {
          width: 100px;
          height: 100px;
        }
        @media (max-width: $L-mobile) {
          width: 80px;
          height: 80px;
          top: 20px;
        }
      }
      &-description {
        padding-right: 20px;
        position: absolute;
        margin-top: -10px;
        bottom: 50%;
        top: 50%;
        height: fit-content;
        font-size: 22px;
        line-height: 28px;
        @media (max-width: $tablet) {
          font-size: 18px;
          line-height: 22px;
          top: auto;
          bottom: auto;
          margin-top: 0;
        }
        @media (max-width: $L-mobile) {
          font-size: 16px;
          line-height: 20px;
        }
        & span {
          font-size: 18px;
          line-height: 22px;
          @media (max-width: $tablet) {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
      &:hover {
        background-color: $blues-secondary;
        color: $white;
        & svg {
          fill: $specific-blue__secondary;
          stroke: $specific-blue__secondary;
        }
      }
    }
  }
  &-info {
    margin: 80px 0;
    &__content {
      padding-left: 50px;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        background-image: url("../img/icons/icons.svg#icon_info");
        background-size: cover;
        width: 26px;
        height: 26px;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    @media (max-width: $laptop) {
      margin: 52px 0;
    }
    @media (max-width: $tablet) {
      margin: 40px 0;
      &__content {
        padding-left: 34px;
        &::after {
          width: 24px;
          height: 24px;
        }
      }
    }
    @media (max-width: $L-mobile) {
      margin: 30px 0;

      &__content {
        padding-left: 32px;
        &::after {
          width: 20px;
          height: 20px;
        }
      }
    }
    @media (max-width: $mobile) {
      margin: 20px 0;
    }
  }
  @media (max-width: $laptop) {
    margin-bottom: 100px;
  }
  @media (max-width: $tablet) {
    margin-bottom: 80px;
  }
  @media (max-width: $L-mobile) {
    margin-bottom: 60px;
  }
  @media (max-width: $mobile) {
    margin-bottom: 40px;
  }
}
