#footer {
  background-color: #fff;
}

.footer-cols {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding: 54px 0;
  &__item {
    min-width: 190px;
    &-content {
      &__logo {
        outline: none;
        width: 69px;
        height: 50px;
        display: inline-block;
      }
      &__logo > svg {
        width: 69px;
        height: 50px;
        margin-bottom: 20px;
      }
      &__title {
        margin-bottom: 40px;
        color: $velvet-black;
      }
      &__links {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        & li {
          display: flex;
          column-gap: 19px;
          & svg {
            width: 22px;
            height: 22px;
            stroke: $velvet-black;
          }
        }
      }
      &__docs {
        margin-top: 100px;
        & a {
          color: $gray;
          font-size: 12px;
          line-height: 14px;
          text-decoration: underline;
        }
      }
    }
    &:last-child a {
      white-space: nowrap;
    }
  }
  @media (max-width: $laptop) {
    padding: 40px 0;
    gap: 32px;
  }
  @media (max-width: $tablet) {
    justify-content: flex-start;
    column-gap: 100px;
    &__item:nth-child(2),
    &__item:nth-child(3) {
      display: none;
    }
  }
  @media (max-width: $L-mobile) {
    justify-content: space-between;
    column-gap: 0;
  }
  @media (max-width: $mobile) {
    &__item:last-child {
      display: none;
    }
  }
}

.copyright {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  @media (max-width: $tablet) {
    max-width: 190px;
  }
}

.social-media {
  flex-direction: row;
  column-gap: 27px;
  margin-top: 40px;
  & li svg {
    width: 27px;
    height: 27px;
  }
}
