#header {
}

.headerInfo {
  border-bottom: 1px solid $velvet-black;
  &-items {
    padding: 9px 0 10px 0;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & svg {
    width: 24px;
    height: 24px;
    stroke: $velvet-black;
  }
  &-contacts {
    display: flex;
    column-gap: 39px;
    height: inherit;
    align-items: center;
    & li {
      display: flex;
      column-gap: 12px;
    }
  }
  &-links {
    margin-left: auto;
    margin-right: 35px;
    display: flex;
    column-gap: 21px;
  }
}

.headerMain {
  &-items {
    padding: 19px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    display: flex;
    column-gap: 34px;
    flex-basis: 20%;
    align-items: center;
    & p {
      font-size: 18px;
      line-height: 22px;
      font-weight: 300;
    }
    & > svg {
      width: 69px;
      height: 50px;
      fill: $velvet-black;
    }
  }
}
