.section-hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-hero__main-bg {
  background-image: linear-gradient(90deg, #525252, rgba(82, 82, 82, 0)),
    url("@img/section-hero__bg.png");
}

.section-hero__jobsafe-bg {
  background-image: url("@img/section-hero_bg-jobsafe.png");
}

.section-hero__industSafety-bg {
  background-image: url("@img/section-hero_bg-indrtiSafety.png");
}

.section-hero__docPage-bg {
  background-image: url("@img/section-hero_bg-docPage.png");
}

.section-hero__cartNaks-bg {
  background-image: linear-gradient(90deg, #525252, rgba(82, 82, 82, 0)),
    url("@img/section-hero_bg-certNaks.png");
}

.white-text {
  color: $white;
}

.section-hero {
  & .section-cols {
    @media (max-width: $tablet) {
      flex-direction: column;
      row-gap: 40px;
      padding: 56px 0;
    }
    @media (max-width: $L-mobile) {
      padding: 28px 0;
    }
  }
  & .section-cols__left {
    @media (max-width: $laptop) {
      flex-basis: 60%;
    }
  }
  & .section-cols__right {
    @media (max-width: $laptop) {
      flex-basis: 40%;
    }
  }
  & .section-cols__left-content {
    margin: 130px 0;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: flex-start;
    @media (max-width: $tablet) {
      margin: 0;
      row-gap: 32px;
    }
    @media (max-width: $L-mobile) {
      row-gap: 25px;
    }
    & h4 {
      width: 479px;
      @media (max-width: $laptop) {
        width: 100%;
      }
    }
  }
  & .section-cols__right-content {
    margin: 140px 0;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    width: 100%;
    align-items: flex-end;
    @media (max-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px 24px;
      margin: 0;
    }
    & li {
      background-color: $white;
      border-radius: 6px;
      max-width: 330px;
      list-style: none;
      width: 100%;
      @media (max-width: $L-mobile) {
        width: 240px;
      }
      & a {
        display: flex;
        align-items: center;
        column-gap: 15px;
        font-size: 16px;
        line-height: 20px;
        color: $blues-secondary;
        padding: 14px 13px 14px 24px;
        @media (max-width: $tablet) {
          font-size: 14px;
          line-height: 20px;
        }
        @media (max-width: $L-mobile) {
          padding: 12px 7px 12px 16px;
          font-size: 12px;
          line-height: 14px;
        }
        & svg {
          max-width: 40px;
          height: 40px;
          fill: $blues-secondary;
          stroke: $blues-secondary;
          @media (max-width: $tablet) {
            max-width: 30px;
            height: 30px;
          }
          @media (max-width: $L-mobile) {
            max-width: 24px;
            height: 24px;
          }
        }
      }
      &:hover {
        background-color: $blue-blues;
        & a {
          color: $white;
        }
        & svg {
          stroke: $white;
        }
      }
      &:active {
        background-color: $blues-secondary;
      }
    }
  }
}
