.section-contacts {
  & .section-cols {
    @media (max-width: $tablet) {
      flex-direction: column;
      row-gap: 38px;
    }
    @media (max-width: $L-mobile) {
      row-gap: 32px;
    }
  }
  & .section-cols__left h2 {
    margin-bottom: 52px;
    @media (max-width: $tablet) {
      margin-bottom: 50px;
    }
    @media (max-width: $L-mobile) {
      margin-bottom: 32px;
    }
    @media (max-width: $mobile) {
      margin-bottom: 30px;
    }
  }
  & .section-cols__left-description {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    @media (max-width: $laptop) {
      row-gap: 40px;
    }
    @media (max-width: $tablet) {
      gap: 40px;
      flex-direction: row;
      flex-wrap: wrap;
    }
    @media (max-width: $L-mobile) {
      row-gap: 20px;
      flex-direction: column;
    }
    & li {
      display: flex;
      align-items: center;
      & a {
        margin-left: 44px;
        @media (max-width: $tablet) {
          margin-left: 30px;
        }
      }
    }
    & svg {
      width: 42px;
      height: 42px;
      stroke: #398290;
      @media (max-width: $tablet) {
        width: 40px;
        height: 34px;
      }
      @media (max-width: $L-mobile) {
        width: 34px;
        height: 34px;
      }
    }
  }
  & .section-cols__right {
    border-radius: 6px;
    overflow: hidden;
    max-width: 700px;
    max-height: 361px;
    @media (min-width: $laptop) {
      width: 617px;
    }
    @media (max-width: $laptop) {
      width: 500px;
    }
    @media (max-width: $tablet) {
      width: 100%;
      height: 304px;
    }
    @media (max-width: $L-mobile) {
      height: 191px;
    }
    @media (max-width: $mobile) {
      height: 152px;
    }
  }
}

.section-contactForm {
  & .section-cols {
    @media (max-width: $tablet) {
      flex-direction: column;
      row-gap: 38px;
    }
    @media (max-width: $L-mobile) {
      row-gap: 32px;
    }
  }
  // & .section-cols__left {
  //   flex-basis: auto;
  // }
  & .section-cols__right {
    // max-width: 700px;
    // @media (max-width: $desktop) {
    //   width: 617px;
    // }
  }
  & .section-cols__left-content {
    max-width: 100%;
    margin: 0;
    display: block;
    & h2 {
      margin-bottom: 52px;
      @media (max-width: $tablet) {
        margin-bottom: 32px;
      }
    }
    & p {
      font-size: 24px;
      line-height: 30px;
    }
    @media (max-width: $desktop) {
      width: 460px;
    }
    @media (max-width: $laptop) {
      width: 360px;
    }
    @media (max-width: $tablet) {
      width: 100%;
    }
  }
}
