.menu {
  &__logo {
    display: flex;
    align-items: center;
    column-gap: 30px;
    justify-content: center;
    & svg {
      width: 69px;
      height: 50px;
    }
    @media (min-width: $tablet) {
      display: none;
    }
  }
  &__social {
    display: flex;
    column-gap: 22px;
    justify-content: center;
    & svg {
      width: 37px;
      height: 37px;
    }
    @media (min-width: $tablet) {
      display: none;
    }
  }
  &__list {
    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
      column-gap: 80px;
    }
  }
  &__list > li {
    position: relative;
    @media (min-width: $tablet) {
      padding: 10px 0px;
    }
  }
  &__link {
    color: $velvet-black;
    font-size: 18px;
    line-height: 22px;
  }
  &__sub {
    &-list {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $light-yellow;
      padding: 20px;
      border-radius: 4px;
      z-index: 10;
      min-width: 300px;
      @media (min-width: $tablet) {
        transform: translate(0px, 10%);
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        transition: all 0.3s ease 0s;
      }
      & li {
        padding: 16px 0;
        border-bottom: 1px solid $yellow-crown;
        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
          border-bottom: none;
        }
      }
    }
    &-link {
      color: $velvet-black;
      font-size: 18px;
      line-height: 22px;
    }
  }
  &__arrow {
    display: none;
  }
  &__burger {
  }
  @media (max-width: $tablet) {
    &__burger {
      z-index: 21;
      display: block;
      position: relative;
      width: 40px;
      height: 26px;
      cursor: pointer;
      & span,
      &::before,
      &::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 10%;
        transition: all 0.3s ease 0s;
        background-color: $velvet-black;
      }
      &::before,
      &::after {
        content: "";
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      & span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }
      &._active {
        & span {
          transform: scale(0) translate(0px, -50%);
        }
        &::before {
          top: 50%;
          transform: rotate(-45deg) translate(0px, -50%);
        }
        &::after {
          bottom: 50%;
          transform: rotate(45deg) translate(0px, 50%);
        }
      }
    }
    &__body {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      padding: 19px 0;
      transition: right 0.3s ease 0s;
      overflow: auto;
      z-index: 20;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &._active {
        right: 0;
      }
      &._active {
      }
      &__body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background-color: red;
        z-index: 2;
      }
    }
    &__list {
      text-align: center;
      max-width: 700px;
      margin: 0 auto;
      & > li {
        flex-wrap: wrap;
        margin: 0px 0px 30px 0px;
        &:last-child {
          margin-bottom: 0;
        }
        &._active .menu__sub-list {
          display: block;
        }
      }
    }
    &__link {
      font-size: 24px;
    }
    &__sub-list {
      position: relative;
      background-color: #fff;
      flex: 1 1 100%;
      margin: 20px 0px 0px 0px;
      display: none;
    }
    &__sub-link {
      font-size: 20px;
      color: #000;
    }
  }
}

body {
  &._pc .menu__list > li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translate(0px, 0px);
  }
  &._touch .menu__list > li {
    display: flex;
    align-items: center;
    column-gap: 14px;
  }
  &._touch .menu__link {
    flex: 1 1 auto;
  }
  &._touch .menu__arrow {
    display: block;
    width: 12px;
    height: 12px;
    transition: 0.3s ease-out;
    transition: transform 0.3s ease 0s;
  }
  &._touch .menu__list > li._active .menu__sub-list {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translate(0px, 0px);
  }
  &._touch .menu__list > li._active .menu__arrow {
    transform: rotate(-180deg);
  }
  &._lock {
    overflow: hidden;
  }
}
