.headerMain-menu {
  & a {
    text-decoration: none;
  }
  & li {
    position: relative;
    list-style: none;
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    & svg {
      width: 69px;
      height: 50px;
      @media (max-width: $L-mobile) {
        width: 54px;
        height: 39px;
      }
    }
    @media (min-width: $tablet) {
      display: none;
    }
    @media (max-width: $mobile) {
      justify-content: flex-start;
      column-gap: 25px;
    }
  }
  &__social {
    display: flex;
    column-gap: 22px;
    justify-content: center;
    @media (min-width: $tablet) {
      display: none;
    }
    & svg {
      width: 37px;
      height: 37px;
    }
  }
  &__list {
    display: flex;
    & > li {
      margin: 0px 80px 0px 0px;
      &:nth-child(2) {
        & a {
          padding-right: 14px;
        }
        & svg {
          width: 12px;
          height: 12px;
          transition: 0.3s ease-out;
        }
      }
      &:nth-child(2):hover svg {
        transform: rotate(180deg);
        transition: 0.3s ease-in;
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  &__link {
    color: $velvet-black;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
  }
  @media (max-width: $tablet) {
    visibility: hidden;
    position: fixed;
    max-width: 100vw;
    height: 100vh;
    width: 100%;
    padding: 19px 0;
    background-color: #fff;
    top: 0;
    z-index: 5;
    right: -1000px;
    transition: all ease 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.overlay {
      visibility: visible;
      right: 0;
    }
    &__list {
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
      & li {
        margin: 0;
      }
    }
  }
  @media (max-width: $mobile) {
    padding: 24px 30px;
  }
}
.headerMain-menu__list > li:hover .headerMain-Submenu__list {
  display: block;
  z-index: 2;
}
.headerMain-Submenu {
  &__list {
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    padding: 20px 0px 0px 0px;
    min-width: 365px;
    & > li {
      background-color: $light-yellow;
      padding: 0px 24px 0 20px;
      &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
  &__link {
    color: $velvet-black;
    display: inline-block;
    padding: 16px 0;
    width: 100%;
    border-bottom: 1px solid $yellow-crown;
    &:hover {
      color: $golden-crown__secondary;
    }
  }
}
.headerMain-Submenu__list > li:hover .headerMain-sub-Submenu__list {
  display: block;
  z-index: 2;
}

.headerMain-sub-Submenu {
  &__list {
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    padding: 0px 0px 0px 5px;
    min-width: 450px;
    & > li {
      background-color: black;
    }
  }
  &__link {
    color: white;
    display: inline-block;
    padding: 5px 10px;
  }
}
