.reviewSwiper.swiper {
  max-width: 725px;
  height: 440px;
  @media (max-width: $tablet) {
    height: 319px;
    max-width: 500px;
  }
  @media (max-width: $L-mobile) {
    height: 270px;
    max-width: 300px;
  }
  @media (max-width: $mobile) {
    height: 242px;
  }
}

.swiper-wrapper {
}

.review-swiper-slide.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  // max-width: 200px;
  & img {
    width: 192px;
    height: 256px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
    border-radius: 8px;
    @media (max-width: $tablet) {
      width: 138px;
      height: 178px;
    }
  }
}

.section-wrapper .swiper-button-prev {
  background-color: #ffe695;
  width: 43px;
  height: 86px;
  border-radius: 0 100% 100% 0/50%;
  left: 0;
  margin-top: -45px;
}
.section-wrapper .swiper-button-next {
  background-color: #ffe695;
  width: 43px;
  height: 86px;
  border-radius: 100% 0 0 100% / 50%;
  right: 0;
  margin-top: -45px;
}
.section-wrapper .swiper-button-prev::after {
  content: "";
  font-size: 80px;
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 4px solid $white;
  border-right: 4px solid $white;
  transform: rotate(-135deg);
  left: 5px;
}

.section-wrapper .swiper-button-next::after {
  content: "";
  font-size: 80px;
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 4px solid #fafafa;
  border-left: 4px solid #fafafa;
  transform: rotate(-135deg);
  right: 5px;
}
