@import "base/module";
@import "vendors/module";
@import "components/module";
@import "layout/module.scss";
@import "pages/module.scss";
@import "fonts.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 1px solid #a1c4ff;
}

ol,
ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: Raleway;
  font-weight: 300;
  font-display: swap;
  font-size: 18px;
  line-height: 22px;
  font-feature-settings: "lnum";
  color: $velvet-black;
  background-color: $white;
  &.lock {
    overflow: hidden;
  }
}

p {
  font-size: 18px;
  line-height: 22px;
  @media (max-width: $L-mobile) {
    font-size: 14px;
    line-height: 18px;
  }
}

a {
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  color: $velvet-black;
  transition: all ease-in 0.5s;
  &:hover {
    color: $golden-crown__secondary;
  }
  @media (max-width: $L-mobile) {
    font-size: 14px;
    line-height: 18px;
  }
}
